{% extends 'layout.html' %}

{% block head %}
<title>Posts Page</title>
{% endblock %}

{% block content %}
<!--<div class="home">
    <h1>Hello World!</h1>
    <h3>Welcome to Twitter-ish!</h3>
</div>-->
<div class="posts">
    <h1>Tweets-ish</h1>
    {% for post in posts %}
        <div class="posts_card">
            <p class="card-title">
                <b> @
                    <!-- <a href="/posts/query?user={username}"> -->
                    <a href="/users/{{post.user_id}}">
                        {{ post.user }}
                    </a>
                </b>
            </p>
            <p>{{ post.content }}</p>
            <b><p class="character-count">{{ post.content|length }}/280 characters</p></b>
        </div>
    {% endfor %}
</div>

{% endblock %}
